<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(<%= asset_path("fons1.jpg") %>);"></li>
    <li class="parallax" style="background-image:url(<%= asset_path("fons2.jpg") %>);"></li>
  </ul>
</div>
<!-- End Hero Slider --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row"> 
        <!-- Start Featured Blocks -->
        <div class="featured-blocks clearfix">
          <div class="col-md-4 col-sm-4 featured-block"> <a href="our-staff.html" class="img-thumbnail"> <img src="<%= asset_path("team.jpg") %>" alt="staff"> <strong><%= t('.our_team') %></strong> <span class="more"><%= t('.read_more') %></span> </a> </div>
          <div class="col-md-4 col-sm-4 featured-block"> <a href="about.html" class="img-thumbnail"> <img src="<%= asset_path("join.jpg") %>" alt="staff"> <strong><%= t('.new_players') %></strong> <span class="more"><%= t('.read_more') %></span> </a> </div>
          <div class="col-md-4 col-sm-4 featured-block"> <a href="sermons.html" class="img-thumbnail"> <img src="<%= asset_path("trophies.jpg") %>" alt="staff"> <strong><%= t('.achievements') %></strong> <span class="more"><%= t('.read_more') %></span> </a> </div>
        </div>
        <!-- End Featured Blocks --> 
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-6"> 
          <!-- Events Listing -->
          <div class="listing events-listing">
            <header class="listing-header">
              <h3><%= t('.closest_events') %></h3>
            </header>
            <section class="listing-cont">
              <ul>
                <% @events.each do |event| %>
                <li class="item event-item">
                  <div class="event-date"> <span class="date"><%= event.starttime.strftime("%d") %></span> <span class="month"><%= l(event.starttime, :format => "%b") %></span> </div>
                  <div class="event-detail">
                    <h4><%= link_to event.title, refinery.events_events_path %></a></h4>
                    <span class="event-dayntime meta-data"><%= l(event.starttime, :format => "%A") %> | 
                      <% if event.all_day %>
                      <%= t('.all_day') %>
                      <% else %>
                      <%= event.starttime.strftime("%H:%M") %>
                      <% end %>
                    </span> 
                  </div>
                  <div class="to-event-url">
                    <div><%= link_to t('.calendar'), refinery.events_events_path, class: "btn btn-default btn-sm" %></div>
                  </div>
                </li>
                <% end %>
              </ul>
            </section>
          </div>
          <div class="spacer-30"></div>
          <!-- Latest News -->
          <div class="listing post-listing">
            <header class="listing-header">
              <h3><%= t('.news_title') %></h3>
            </header>
            <section class="listing-cont">
              <ul>
                <% @blog_posts.each do |post| %>
                  <li class="item post">
                    <div class="row">
                      <div class="col-md-4"> 
                        <%= link_to image_fu(post.featured_image, "800x600", class: "img-thumbnail"), refinery.blog_post_url(post), class: "media-box" %>
                      </div>

                      <div class="col-md-8">
                        <div class="post-title">
                          <h2><%= link_to post.title, refinery.blog_post_url(post) %></h2>
                          <span class="meta-data"><i class="fa fa-calendar"></i> <%= l(post.published_at.to_date, :format => :long)%></span></div>
                        <p><%= sanitize (truncate post.body, :length => 290)%></p>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </section>
          </div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 col-sm-6"> 
          <!-- Latest Videos -->
          <div class="listing sermons-listing">
            <header class="listing-header">
              <h3><%= t('.latest_video') %></h3>
            </header>
            <section class="listing-cont">
              <ul>
                <li class="item sermon featured-sermon"> <span class="date"><%= l(@video.created_at.to_date, :format => :long)%></span>
                  <h4 class="homepage-video-title"><%= @video.title %></h4>
                  <div class="featured-sermon-video format-video"> 
                    <%= link_to image_tag(@video.featured_image.thumbnail(geometry: "600x400#c").url), @video.url, "data-rel" => "prettyPhoto", class: "media-box" %>
                  </div>
                  <div class="sermon-actions video-center">
                    <%= link_to refinery.videos_videos_path, class: "btn btn-default btn-lg home-other-videos-btn" do %>
                      <span><i class="fa fa-video-camera fa-2x"></i> <%= t('.all_videos') %></span>
                    <% end %>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Featured Gallery -->
<div class="featured-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <h4 class="homepage-galleries"><%= t('.latest_galleries') %></h4>
        <%= link_to t('.all_galleries'), refinery.galleries_galleries_path, class: "btn btn-default btn-lg" %>
      </div>

    <% @galleries.each do |gallery| %>   
      <div class="col-md-3 col-sm-3 post format-image">
        <%= link_to image_tag(gallery.images.first.thumbnail(geometry: "600x400#c").url), 
              refinery.galleries_gallery_path(gallery), class: "media-box" %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<!-- End Featured Gallery --> 