<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(<%= asset_path("fons1.jpg") %>);"></li>
    <li class="parallax" style="background-image:url(<%= asset_path("fons2.jpg") %>);"></li>
  </ul>
</div>
<!-- End Hero Slider --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row"> 
        <!-- Start Featured Blocks -->
        <div class="featured-blocks clearfix">
          <div class="col-md-4 col-sm-4 featured-block"> <a href="our-staff.html" class="img-thumbnail"> <img src="<%= asset_path("team.jpg") %>" alt="staff"> <strong>Mūsu Komanda</strong> <span class="more">lasīt vairāk</span> </a> </div>
          <div class="col-md-4 col-sm-4 featured-block"> <a href="about.html" class="img-thumbnail"> <img src="<%= asset_path("join.jpg") %>" alt="staff"> <strong>Gribi izmēģināt Lakrosu?</strong> <span class="more">lasīt vairāk</span> </a> </div>
          <div class="col-md-4 col-sm-4 featured-block"> <a href="sermons.html" class="img-thumbnail"> <img src="<%= asset_path("trophies.jpg") %>" alt="staff"> <strong>Sasniegumi</strong> <span class="more">lasīt vairāk</span> </a> </div>
        </div>
        <!-- End Featured Blocks --> 
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-6"> 
          <!-- Events Listing -->
          <div class="listing events-listing">
            <header class="listing-header">
              <h3>Tuvākie notikumi</h3>
            </header>
            <section class="listing-cont">
              <ul>
                <% @events.each do |event| %>
                <li class="item event-item">
                  <div class="event-date"> <span class="date"><%= event.start_time.strftime("%d") %></span> <span class="month"><%= event.start_time.strftime("%b") %></span> </div>
                  <div class="event-detail">
                    <h4><%= link_to event.title, refinery.events_events_path %></a></h4>
                    <span class="event-dayntime meta-data"><%= event.start_time.strftime("%A") %> | <%= event.start_time.strftime("%H:%M") %></span> </div>
                  <div class="to-event-url">
                    <div><%= link_to "Kalendārs", refinery.events_events_path, class: "btn btn-default btn-sm" %></div>
                  </div>
                </li>
                <% end %>
              </ul>
            </section>
          </div>
          <div class="spacer-30"></div>
          <!-- Latest News -->
          <div class="listing post-listing">
            <header class="listing-header">
              <h3>Jaunākie Bloga ieraksti</h3>
            </header>
            <section class="listing-cont">
              <ul>
                <% @blog_posts.each do |post| %>
                  <li class="item post">
                    <div class="row">
                      <div class="col-md-4"> 
                        <%= link_to image_fu(post.featured_image, "800x600", class: "img-thumbnail"), refinery.blog_post_url(post), class: "media-box" %>
                      </div>

                      <div class="col-md-8">
                        <div class="post-title">
                          <h2><%= link_to post.title, refinery.blog_post_url(post) %></h2>
                          <span class="meta-data"><i class="fa fa-calendar"></i> <%= l(post.published_at.to_date, :format => :long)%></span></div>
                        <p><%= sanitize (truncate post.body, :length => 290)%></p>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </section>
          </div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 col-sm-6"> 
          <!-- Latest Sermons -->
          <div class="listing sermons-listing">
            <header class="listing-header">
              <h3>Jaunākais video</h3>
            </header>
            <section class="listing-cont">
              <ul>
                <li class="item sermon featured-sermon"> <span class="date">Feb 14, 2014</span>
                  <h4><a href="single-sermon.html">Lakrosa spēle</a></h4>
                  <div class="featured-sermon-video">
                    <iframe src="//player.vimeo.com/video/92477586?color=ff0179" width="200" height="113" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis consectetur adipiscing elit. Nulla convallis egestas rhoncus</p>
                  <div class="sermon-actions"> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Video"><i class="fa fa-video-camera"></i></a> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Audio"><i class="fa fa-headphones"></i></a> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Read online"><i class="fa fa-file-text-o"></i></a> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Download PDF"><i class="fa fa-book"></i></a> </div>
                </li>
                <li class="item sermon">
                  <h2 class="sermon-title"><a href="single-sermon.html">Voluptatum deleniti atque corrupti</a></h2>
                  <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </li>
                <li class="item sermon">
                  <h2 class="sermon-title"><a href="single-sermon.html">Voluptatum deleniti atque corrupti</a></h2>
                  <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </li>
                <li class="item sermon">
                  <h2 class="sermon-title"><a href="single-sermon.html">Voluptatum deleniti atque corrupti</a></h2>
                  <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Featured Gallery -->
<div class="featured-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <h4 class="homepage-galleries">Pēdējās izveidotās galerijas</h4>
        <%= link_to "Visas Galerijas", refinery.galleries_galleries_path, class: "btn btn-default btn-lg" %>
      </div>

    <% @galleries.each do |gallery| %>   
      <div class="col-md-3 col-sm-3 post format-image">
        <%= link_to image_tag(gallery.images.first.thumbnail(geometry: "600x400#c").url), 
              refinery.galleries_gallery_path(gallery), class: "media-box" %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<!-- End Featured Gallery --> 