<meta charset='<%= Rails.application.config.encoding %>' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= browser_title(yield(:title)) %></title>
<%= include_gon %>
<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- CSS
  ================================================== -->
<%= stylesheet_link_tag "application" %>
<%= yield :stylesheets %>

<%= render '/refinery/google_analytics' %>

<!-- SCRIPTS
  ================================================== -->
<%= javascript_include_tag 'modernizr-min' %>